html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  color: hotpink;
  font-family: cursive;
}

body { margin: 0; }

.h1 {
    font-family: 'Sans-serif', Helvetica;
    color: #ffffff;   
    font-size: 20px;
}

.p1 {
    font-family: 'Sans-serif', Helvetica;
    color: #ffffff;   
    font-size: 12px;
}

/* Create the animation... */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);      
    }
  }

#container {
    position: fixed; /* Sit on top of the page content */
    width: 13%; /* % of whole page */
    top: 30%;
    bottom: 30%;
    left: 0%;
    background-color: rgb(25, 25, 25); /* Black background with opacity */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;  
    padding-left: 10px;
    padding-right: 10px;
    
}

.hidden {
    visibility: hidden;
}

.slide {
    visibility: visible;
    animation: slide-in 1000ms;
}

#head {
    height: 12%;
    text-align: center;
    margin-top: -10px;
    /*background-color: rgb(63, 201, 36);*/
}

#logs {
    height: 80%;
    overflow: auto;
}


#logs::-webkit-scrollbar {
    width: 12px;
}

#logs::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #2b2b2b;
    border: 1px solid #363636;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#logs::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #484848;
}
